
{% extends "base.html" %} {% block title %}About{% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="../static/about.css">  {% endblock %}
{% block content%}


<section id="about">
  <div class="container">
    <h2>About Us</h2>
    <h3>Uvt , su uviversipiduuu</h3>
    <p>
      [Visão geral da UVT - Descrição da missão e compromisso com a educação de qualidade online.]
    </p>

    <h3>Our History</h3>
    <p>
      [História da UVT - Informações sobre o estabelecimento da universidade virtual.]
    </p>

    <h3>Our Approach</h3>
    <p>
      [Abordagem educacional - Metodologia de ensino adotada pela UVT.]
    </p> 

    <h3>Academic Programs</h3>
    <p>
      [Programas acadêmicos oferecidos pela UVT.]
    </p>

    <h3>Our Faculty</h3>
    <p>
      [Informações sobre o corpo docente da UVT.]
    </p>

    <h3>Technology and Learning Platform</h3>
    <p>
      [Tecnologia e plataforma de ensino utilizadas pela UVT.]
    </p>

    <h3>Partnerships and Recognition</h3>
    <p>
      [Parcerias e reconhecimento da UVT.]
    </p>

    <h3>Student Experience</h3>
    <p>
      [Depoimentos ou histórias de sucesso de alunos da UVT.]
    </p>

    <h3>Contact and Support</h3>
    <p>
      [Informações de contato da UVT.]
    </p>
  </div>
</section>

{#<section class="container mt-5" id='About'>#}
{#            <div class="row w-100">#}
{#                <div class="col-md-12" data-anime="down">#}
{#                    <h2 class='pt-3'>About</h2>#}
{#                    <p> The University of São Tomé and Príncipe (USTP) is a public institution of#}
{#                        higher education that arises from#}
{#                        the need to create a structure capable of#}
{#                        bringing together the different institutions#}
{#                        and training centers in order to provide functional#}
{#                        and institutional uniformity to higher education#}
{#                        in São Tomé and Príncipe. Prince.#}
{#                        The USTP was created through Decree-Law No. 9/2014#}
{#                        by decision of the Government of São Tomé and Príncipe#}
{#                        and is an emanation of the Basic Law of the Education System#}
{#                        that institutionalizes Polytechnic and University Higher Education#}
{#                        in the structure of the National Education System.To achieve this#}
{#                        objective, the USTP currently has three organic teaching units#}
{#                        (Colleges) and one organic research and extension unit (Center).#}
{#                        Organic Teaching Units - Colleges: Higher Institute of Education and Communication (ISEC),#}
{#                        Faculty of Science and Technology (FCT) and Superior Institute of Health Sciences Victor Sá#}
{#                        Machado (ISCSSM)</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row mt-4">#}
{#                <div class="col-md-4">#}
{#                    <img class="img-fluid shadow" src="../static/img/uimagem.png" alt="foto de ustp" data-anime="left">#}
{#                </div>#}
{##}
{#                <div class="col-md-8" data-anime="right">#}
{#                    <div class="row mt-3 mb-3">#}
{#                        <div class="col-md-6">#}
{#                            <ul class="list-group list-group-flush fs-5">#}
{#                                <li class="list-group-item">#}
{#                                    year: <span class="fw-lighter">July 24, 2014#}
{#                                    </span>#}
{#                                </li>#}
{##}
{#                                <li class="list-group-item">#}
{#                                    Country: <span class="fw-lighter">São Tomé and Príncipe</span>#}
{#                                </li>#}
{#                                <li class="list-group-item">#}
{#                                    City: <span class="fw-lighter">São Tomé</span>#}
{#                                </li>#}
{#                                <li class="list-group-item">Dean: <span class="fw-lighter">PEREGRINO SACRAMENTO DA#}
{#                                        COSTA</span></li>#}
{##}
{##}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#</section>#}



{% endblock %}