{% extends "base.html" %} {% block title %}Contact{% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="../static/contact.css">  {% endblock %}
{% block content%}
<section id="contact">
  <div class="container">
    <h2>Contactează-ne</h2>

    <div class="contact-info">
      <h3>Locație</h3>
      <p>Bulevardul Vasile Pârvan 4, Timișoara 300223</p>
    </div>

    <div class="contact-info">
      <h3>Email</h3>
      <p>fmiuvt5@e-uvt.ro</p>
    </div>

    <div class="contact-info">
      <h3>Telefon</h3>
      <p>+40 256 592 111</p>
    </div>

    <div class="contact-form">
      <h3>Trimite-ne un mesaj</h3>
{#      <form action="https://formsubmit.co/fmiuvt5@gmail.com" method="POST">#}
      <form action="/submit_form" method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="email" placeholder="Your Email">
        <textarea name="message" placeholder="Your Message"></textarea>
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</section>


{% endblock %}