{% extends 'base.html' %}
{% block css %} <link rel="stylesheet" type="text/css" href="../static/dicipline.css">  {% endblock %}

{% block content%}

{#<div class="seta" >#}
{#    <a href="/home">back</a>#}
{#</div>#}

{#<div class="pesquisar">#}
{#                <form action="#" method="post">#}
{#                    <input type="text" name="search" id="search" placeholder="Faca a sua busca" required>#}
{#                    <button type="submit"><i class="fa fa-search"></i></button>#}
{##}
{#                </form>#}
{#            </div>#}
    <div class="row">

        <div class="side-content">
            <div class="col-9">
                <p>Disciplina optionala</p>
                <p>Faca a Sua  melhor escolha</p>
                <p>E seja Inteligente!</p>
            </div>



            <div class="Titlos">
                <div class="col-c" id="">
                    <h4>Anul1 - Semestrul 2</h4>
                    <h3>Elemente de web design </h3>
                    <p> Web designul este o disciplină care implică proiectarea, dezvoltarea și implementarea de site-uri web și alte aplicații web.
                        Această disciplină se concentrează pe crearea unui aspect atractiv, eficient și ușor de
                        utilizat pentru site-urile web, iar în general, îmbină abilități din domeniul designului grafic și al programării web.
                    </p>
                </div>
                <div class="col-a">
                    <h4>Anul1 - Semestrul 2</h4>
                    <h3>Metode și practici în informatică</h3>
                    <p>Metodele și practicile în informatică sunt o disciplină care se concentrează pe dezvoltarea și utilizarea tehnicilor
                        și metodologiilor pentru a dezvolta software de calitate, eficient și scalabil.
                        Metodele și practicile din informatică sunt esențiale în dezvoltarea de software de calitate și în îndeplinirea cerințelor complexe ale clienților.
                    </p>
                </div>

                <div class="col-d">
                    <h4>Anul2 - Semestrul 1</h4>
                    <h3>Structuri de date Avansate</h3>
                    <p>Structurile de date avansate se concentrează pe proiectarea, analiza și implementarea algoritmilor și a structurilor
                        de date necesare pentru a stoca și gestiona date în mod eficient.
                        Structurile de date avansate sunt utilizate pentru a stoca și accesa date în mod eficient, astfel încât operațiile de
                        căutare, inserare și ștergere să poată fi realizate rapid și fără pierdere de date.
                    </p>
                </div>
                <div class="col-e">
                    <h4>Anul2 - Semestrul 1</h4>
                    <h3>Metode formale in dezvoltarea aplicatiilor informatice</h3>
                    <p>Metodele formale în dezvoltarea aplicațiilor informatice sunt o disciplină din domeniul informaticii care se
                        concentrează pe utilizarea logicii și a matematicii pentru a proiecta și a verifica sisteme și programe informatice.
                        Această disciplină are ca obiectiv eliminarea defectelor și a erorilor din software, prin utilizarea unor metode matematice riguroase.
                    </p>
                </div>
                <div class="col-f">
                    <h4>Anul2 - Semestrul 1</h4>
                    <h3>Aplicatii ale teoriei Automatelor</h3>
                    <p> Teoria automatelor este o disciplină din domeniul informaticii și al matematicii care se concentrează pe studiul sistemelor
                        automate, adică a dispozitivelor care preiau un set de intrări și generează un set corespunzător de ieșiri. Aceste dispozitive
                        automate pot fi utilizate pentru a modela și controla o gamă largă de sisteme, de la mașinile de spălat automate și calculatoare,
                        la sistemele de trafic și fabricile automate.
                    </p>
                </div>
                <div class="col-g">
                    <h4>Anul2 - Semestrul 2</h4>
                    <h3>Administrarea bazelor de date </h3>
                    <p>Administrarea bazelor de date (DBA) este o disciplină din domeniul informaticii care se concentrează pe gestionarea și organizarea
                        datelor într-un sistem de baze de date. DBA-ul are rolul de a asigura că bazele de date sunt proiectate, dezvoltate, implementate
                        și întreținute într-un mod eficient și eficace.
                    </p>
                </div>
                <div class="col-h" id="sem2">
                    <h4>Anul2 - Semestrul 2</h4>
                    <h3>Sisteme de operare II </h3>
                    <p>
                        Sistemele de operare II sunt o disciplină din domeniul informaticii care se concentrează pe studiul sistemelor de operare și pe
                        dezvoltarea lor avansată. Această disciplină este de obicei un curs avansat care urmează cursul introductiv de sisteme de operare.
                    </p>
                </div>
                 <div class="col-h">
                     <h4>Anul2 - Semestrul 2</h4>
                    <h3>Programare pe dispozitive mobile </h3>
                    <p>Programarea pe dispozitive mobile este o disciplină din domeniul informaticii care se concentrează pe dezvoltarea de aplicații software
                       ,această parte a cursului se concentrează pe platformele mobile, cum ar fi Android și iOS, și pe modul în care acestea funcționează și
                        cum sunt dezvoltate aplicații pentru ele.
                    </p>
                </div>
                 <div class="col-h">
                     <h4>Anul2 - Semestrul 2</h4>
                    <h3>Geometrie computațională</h3>
                    <p>. Geometria computațională este o ramură
                        a matematicii și a informaticii care se ocupă cu dezvoltarea de algoritmi și metode pentru a rezolva probleme geometrice utilizând
                        computere și tehnologie digitalăDisciplina se concentrează pe studiul unor probleme geometrice precum:
                        Calculul distanțelor și măsurilor în spații multidimensionale Determinarea intersecțiilor și tăierilor între obiecte geometrice, Construirea de forme geometrice precise,
                        Proiectarea și analiza algoritmilor de procesare a datelor geometrice
                    </p>
                </div>
                 <div class="col-h">
                     <h4>Anul3 - Semestrul 1</h4>
                    <h3>Medii de proiectare și programare </h3>
                    <p>Disciplina medii de proiectare și programare se referă la utilizarea unor software-uri specializate pentru a ajuta dezvoltatorii să proiecteze, să dezvolte și să testeze aplicații software.
                        Aceste medii de dezvoltare pot fi utilizate pentru dezvoltarea de programe pentru o gamă largă de dispozitive și sisteme de operare.
                    </p>
                </div>
                 <div class="col-h">
                     <h4>Anul3 - Semestrul 1</h4>
                    <h3>Informatică de gestiune </h3>
                    <p>Informatica de gestiune este o disciplină care se ocupă cu utilizarea tehnologiilor informaționale în domeniul afacerilor și al managementului. Scopul acestei discipline este să ofere
                        instrumente și soluții informatice pentru îmbunătățirea proceselor de afaceri și a performanței organizaționale.
                    </p>
                </div>
                 <div class="col-h">
                     <h4>Anul3 - Semestrul 1</h4>
                    <h3>Sabloane de proiectare </h3>
                    <p>
Sabloanele de proiectare sunt o disciplină în ingineria software care se concentrează pe dezvoltarea de soluții reutilizabile la problemele comune de proiectare. Acestea sunt cunoscute și sub numele de "Design Patterns"
                        și sunt soluții generice pentru problemele de proiectare care se pot apărea în timpul dezvoltării software-ului.
                    </p>
                </div>
                  <div class="col-h">
                      <h4>Anul3 - Semestrul 1</h4>
                    <h3>Managementul proiectelor informatice </h3>
                    <p>Managementul proiectelor informatice este o disciplină care se ocupă de planificarea, organizarea, coordonarea și controlul activităților necesare pentru a finaliza un proiect de dezvoltare
                        a software-ului sau de implementare a unui sistem IT. Scopul principal al managementului proiectelor informatice este de a asigura finalizarea proiectului în timp, buget și cu calitatea așteptată.
                    </p>
                </div>
                  <div class="col-b">
                    <h4>Anul3 - Semestrul 1</h4>
                    <h3>Capitole Especiale de Informatica</h3>
                    <p>Capitole Speciale de Informatică" se referă în general la un curs sau un set de lecții care explorează subiecte avansate și mai complexe din domeniul informaticii. Aceste subiecte pot acoperi aspecte
                        specializate, tendințe emergente, tehnologii noi sau concepte avansate din diferite ramuri ale informaticii.
                    </p>
                </div>
                  <div class="col-h">
                      <h4>Anul3 - Semestrul 1</h4>
                    <h3>Testarea sistemelor software</h3>
                    <p>Testarea sistemelor software este o disciplină din domeniul informaticii care se ocupă de verificarea
                        și validarea sistemelor software pentru a se asigura că acestea funcționează așa cum sunt așteptate.
                        Scopul principal al testării software-ului este de a identifica defectele și problemele sistemului înainte ca acesta să fie lansat pe piață sau să fie utilizat de utilizatorii finali.


                    </p>
                </div>
                  <div class="col-h">
                      <h4>Anul3 - Semestrul 2</h4>
                    <h3>Securitate și criptografie</h3>
                    <p>Securitatea și criptografia sunt două discipline interconectate care se concentrează pe protejarea informațiilor
                        și a sistemelor informatice împotriva accesului neautorizat, a modificării și a distrugerii.
                      <p>
                      Criptografia este disciplina care se ocupă cu protejarea informațiilor prin utilizarea algoritmilor matematici și a cheilor de criptare.
                      Securitatea informatiei se refera la disciplina care se ocupă cu protejarea informațiilor și a sistemelor informatice împotriva accesului
                      neautorizat, a modificării și a distrugerii.
                  </p>
                    </p>
                </div>
                  <div class="col-h">
                      <h4>Anul1 - Semestrul 2</h4>
                    <h3>Cloud Computing si IoT</h3>
                    <p>Cloud Computing și IoT sunt două domenii tehnologice diferite, dar care sunt strâns legate între ele.
                        <p>
                      Cloud Computing este o disciplină din domeniul informaticii care se referă la furnizarea de servicii de
                      calcul, stocare și procesare de date prin intermediul internetului. IoT (Internet of Things) se referă
                      la interconectarea dispozitivelor inteligente, precum senzori, dispozitive mobile sau alte dispozitive electronice,
                      prin intermediul internetului.
                  </p>
                    </p>
                </div>

                  <div class="col-h">
                      <h4>Anul2 - Semestrul 2</h4>
                    <h3>Administrarea rețelelor</h3>
                    <p>Administrarea rețelelor este o disciplină din domeniul informaticii care se concentrează pe
                        gestionarea, monitorizarea și mentenanța rețelelor de calculatoare. Această disciplină se
                        ocupă de administrarea și optimizarea infrastructurii de rețea pentru a asigura funcționarea în siguranță, eficientă și fără întreruperi.
                    </p>
                </div>

                  <div class="col-h">
                      <h4>Anul3 - Semestrul 2</h4>
                    <h3>Sisteme inteligente</h3>
                    <p>lSistemele inteligente reprezintă o disciplină din domeniul informaticii care se concentrează pe dezvoltarea
                        și implementarea de sisteme software capabile să efectueze activități specifice prin utilizarea de tehnologii
                        inteligente, cum ar fi învățarea automată, rețele neuronale, procesarea limbajului natural, recunoașterea de
                        tipare, sisteme experte și algoritmi genetici.
                    </p>
                </div>
                 <div class="col-h">
                     <h4>Anul3 - Semestrul 2</h4>
                    <h3>Modelare economică</h3>
                    <p>Această disciplină se concentrează pe identificarea relațiilor și interacțiunilor dintre factorii
                        economici, precum producția, consumul, prețurile și salariile. Modelarea economică poate fi utilizată
                        pentru a prezice comportamentul sistemelor economice în diferite condiții și pentru a evalua impactul politicilor economice și a altor factori asupra economiei.
                    </p>
                </div>
                 <div class="col-h">
                     <h4>Anul3 - Semestrul 2</h4>
                    <h3>Programare concurentă și distribuită</h3>
                    <p>Programarea concurentă și distribuită este o disciplină din domeniul informaticii care se
                        concentrează pe dezvoltarea de aplicații software care pot rula simultan pe mai multe procesoare sau noduri de calcul.
                         Include :Concepte de concurență, Arhitecturi distribuite, Sisteme distribuite, Tehnologii de comunicare
                         si Programare paralelă.
                    </p>
                </div>
                   <div class="col-h">
                       <h4>Anul3 - Semestrul2</h4>
                    <h3>Dezvoltarea de aplicații pe platforma .NET</h3>
                    <p>Dezvoltarea de aplicații pe platforma .NET este o disciplină din domeniul informaticii care se
                        concentrează pe dezvoltarea de aplicații software utilizând platforma de dezvoltare Microsoft .NET.
                        Include si Limbaje de programare, Dezvoltarea de aplicații desktop,Dezvoltarea de aplicații web
                        Baze de date si Servicii web și cloud computing
                    </p>
                </div>
            </div>
        </div>

    </div>
<div class="care">
    <h5 class="subtle-blink">Nu stii care disciplina sa alegi?</h5>
    <div class="apassa"><a href="/formular">Apassa aici</a></div>
</div>

{% endblock%}