{% extends "layout.html" %}
{% block body %}
 
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="{{ url_for('auth.edit', id=studentii.id) }}" method="POST">
          <div class="form-group">
            <input type="text" name="prenume" value="{{studentii.prenume}}" class="form-control">
          </div>
             <div class="form-group">
            <input type="text" name="nume" value="{{studentii.nume}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="email" value="{{studentii.email}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="parola" value="{{studentii.parola}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="facultate" value="{{studentii.facultate}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="anul" value="{{studentii.anul}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
{% endblock %}