{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<div class="box">
<div class="title">
    <h1>Alegere discipline opționale</h1>
</div>
<div class="content">
    <p>ÎN ATENȚIA STUDENȚILOR DIN ANUL I ȘI II</p>

    <p>Conform Planului de învăţământ al programului de studii, în anul II și III (sem. I și sem. II) este prevăzută parcurgerea a
    cel puțin unei discipline OPŢIONALE, la alegerea studentului.

Pentru anul II, semestrul I, opțiunea va fi între discipline ofertate de FEAA iar pentru anul II, semestrul II, respectiv anul III
    , semestrul I și II, opțiunea va fi între discipline ofertate de FEAA și alte facultăți din UVT. </p>

</div>
<div class="dis">
    <a href="/discipline" class="btn">Discipline</a>
    <a href="/formular" class="btn">Alege Optiuni</a>
    <a href="/alege" class="btn">Alege Discipline</a>
</div>
{#    <section>#}
{#        <div class="poza">#}
{#            <div class="hom">#}
{#                <div class="discipline-col">#}
{#                    <img src="../static/image/aleg.jpg">#}
{#                    <p>#}
{#                    <a href="/discipline">Discipline</a>#}
{#                    </p>#}
{#                </div>#}
{#                 <div class="discipline-col">#}
{#                     <img src="../static/image/optiuni.png">#}
{#                     <p>#}
{#                    <a href="/formular">Alege Optiuni</a>#}
{#                     </p>#}
{#                </div>#}
{#                 <div class="discipline-col">#}
{#                     <img src="../static/image/aleg2.jpg">#}
{#                     <p>#}
{#                    <a href="/alege">Alege Discipline</a>#}
{#                     </p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}


    {##}
{##}
{#    <section id="about">#}
{#  <div class="container">#}
{#    <h2>About Us</h2>#}
{#    <p>#}
{#      [Visão geral da UVT - Descrição da missão e compromisso com a educação de qualidade online.]#}
{#    </p>#}
{##}
{#    <h3>Our History</h3>#}
{#    <p>#}
{#      [História da UVT - Informações sobre o estabelecimento da universidade virtual.]#}
{#    </p>#}
{##}
{#    <h3>Our Approach</h3>#}
{#    <p>#}
{#      [Abordagem educacional - Metodologia de ensino adotada pela UVT.]#}
{#    </p>#}
{##}
{#    <h3>Academic Programs</h3>#}
{#    <p>#}
{#      [Programas acadêmicos oferecidos pela UVT.]#}
{#    </p>#}
{##}
{#    <h3>Our Faculty</h3>#}
{#    <p>#}
{#      [Informações sobre o corpo docente da UVT.]#}
{#    </p>#}
{##}
{#    <h3>Technology and Learning Platform</h3>#}
{#    <p>#}
{#      [Tecnologia e plataforma de ensino utilizadas pela UVT.]#}
{#    </p>#}
{##}
{#    <h3>Partnerships and Recognition</h3>#}
{#    <p>#}
{#      [Parcerias e reconhecimento da UVT.]#}
{#    </p>#}
{##}
{#    <h3>Student Experience</h3>#}
{#    <p>#}
{#      [Depoimentos ou histórias de sucesso de alunos da UVT.]#}
{#    </p>#}
{##}
{#    <h3>Contact and Support</h3>#}
{#    <p>#}
{#      [Informações de contato da UVT.]#}
{#    </p>#}
{#  </div>#}
{#</section>#}

<!--    <section>-->
<!--        <h2>About</h2>-->
<!--        <p>Universitate de Vest din Timisoara</p>-->
<!--    </section>-->
<!--    <section>-->
<!--        <h2>Contact</h2>-->
<!--    </section>-->



</div>



{% endblock %}